@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
.body {
  background-color: antiquewhite;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

.brand {
  width: 44px;
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 110px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 10px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.containere {
  min-height: 74vh;
  background-image: url("music-background.png");
  color: white;
  font-family: "Verela Round";
}

#progress {
  width: 80vw;
  cursor: pointer;
}

.display {
  display: none;
}

.songItem {
  height: 45px;
  display: flex;
  background-color: white;
  width: 30%;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
  border-radius: 2rem;
}

.songItem img {
  width: 43px;
  border-radius: 3px;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img {
  transition: opacity 0.4s ease-in;
}
